<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Blog HA</a>
        <% if (logged) { %> 
        <span style="color: rgb(248, 248, 248);"><%= "Welcome, " + user.firstname %> </span>
        <a class="navbar-brand" href="#">
          <img src="/img/avatar/avatar.jpeg" class="rounded-circle mx-2" width="30" height="30" alt="avatar">
          <!-- La img deberia ser dinamica con user.avatar pero me complicaba con los seeders. Ver -->
        </a>
        <% } %> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a>
            </li>
            <li class="nav-item d-flex align-center">
                <% if (logged) { %>
                  <% if (user.roleId !== 1) { %>
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="/dashboard">Dashboard</a>
                  <% } %> 
                  <a class="nav-link px-lg-3 py-3 py-lg-4" href="/logout">Logout</a>
                <% } else { %> 
                  <a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Sign in</a>
                  <a class="nav-link px-lg-3 py-3 py-lg-4" href="/login">Sign up</a>
                <% } %> 
            </li>
            </ul>
        </div>
    </div>
  </nav>