<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container py-5">
      <form action="/admin/crear" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo del articulo</label>
          <input type="text" class="form-control title" name="title" id="title" />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Contenido del articulo</label>
          <input type="text" name="content" class="form-control content" id="content" />
        </div>
        <div>
          <input type="file" name="img" />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">author</label>
          <input type="text" class="form-control author" name=" author" id="author" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
